[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "themes/split"]
	path = themes/split
	url = https://github.com/escalate/hugo-split-theme.git
